<!--
  ~ Copyright The Linux Foundation and each contributor to CommunityBridge.
  ~ SPDX-License-Identifier: MIT
  -->

<lfx-header-v2 product="LF CLA" id="lfx-header" userefreshtoken="true" (toggled)="onToggled()"
supportlink="https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4/create/143"
docslink="https://docs.linuxfoundation.org/lfx/easycla/v2-current"
faqlink="https://docs.linuxfoundation.org/lfx/easycla/v2-current/getting-started/easycla-faqs">
</lfx-header-v2>

<div class="container" style="margin-bottom: 20px;">
  <div class="landing-page-container row">
    <router-outlet></router-outlet>
  </div>
  <lfx-footer></lfx-footer>

</div>
